<div class="content">
  <h1> Reative Forms </h1>
  {{ formData.value | json }}<br>
  <form [formGroup]="formData">
      <label>姓名：</label>
      <input type="text" formControlName="name"/>
      <div formArrayName="address">
        <div *ngFor="let item of address.controls; let i=index">
          <label>地址：</label>
          <input type="text" [formControlName]="i" />
        </div>
      </div>
      <div formArrayName="phones">
        <div *ngFor="let item of phones.controls; let i=index" [formGroupName]="i">
            <label>電話：</label>
            <input type="text" formControlName="phoneNumber" />
            <button (click)="removePhone(i)">移除電話</button>
            <button (click)="insertPhone(i)">+</button>
        </div>
      </div>
      <button (click)="addPhone()">新增電話</button>
      <button (click)="clearLastPhone()">清除剩第一支電話</button>
      <button (click)="resetPhone()">reset</button>
      <button (click)="resetFormDate()">resetFormDate</button>
  </form>
</div>

